In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [2]:
def date_range(start, end):
    start = datetime.strptime(start, "%Y/%m/%d")
    end = datetime.strptime(end, "%Y/%m/%d")
    dates = [(start + timedelta(days=i)).strftime("%Y/%m/%d") for i in range((end-start).days+1)]
    return dates

dates = date_range("2010/07/01", "2021/12/27")

def slash_to_comma(x):
    x = x.replace('-','/')
    return x

def dot_to_slash(x):
    x = x.replace('.','/')
    return x

def slash_reorder(x):
    x = x[6:]+'/'+x[:2]+'/'+x[3:5]
    return x

def slash_reorder_yr(x):
    x = '20'+x[6:]+'/'+x[0:2]+'/'+x[3:5]
    return x

def gold_date(x):
    li = x.split('.')
    x = li[0]+'/'+li[1].zfill(2)+'/'+li[2].zfill(2)
    return x
# gold_date('2010.1.22')

In [3]:
columns = ['Date']

df = pd.DataFrame(columns = columns)
df['Date'] = dates

In [4]:
df

            Date
0     2010/07/01
1     2010/07/02
2     2010/07/03
3     2010/07/04
4     2010/07/05
...          ...
4193  2021/12/23
4194  2021/12/24
4195  2021/12/25
4196  2021/12/26
4197  2021/12/27

[4198 rows x 1 columns]

In [5]:
amzn = pd.read_csv('./AMZN.csv')
appl = pd.read_csv('./AAPL.csv')
bse_sensex = pd.read_csv('./BSE_SENSEX.csv')
oil = pd.read_csv('./OIL.csv')
ftse = pd.read_csv('./FTSE_close.csv')
gold = pd.read_csv('./GOLD.csv')
google = pd.read_csv('./GOOG.csv')
msft = pd.read_csv('./MSFT.csv')
nasdaq = pd.read_csv('./NASDAQ.csv')
nyse = pd.read_csv('./NYSE.csv')
russell = pd.read_csv('./RUSSELL.csv')
snp = pd.read_csv('./S&P500.csv')
sse = pd.read_csv('./SSE.csv')
usd = pd.read_csv('./USD_index.csv')
vix = pd.read_csv('./VIX.csv')

## Amazon 전처리

In [6]:
# amzn['Date']=amzn['Date'].map('{}.{}.{}'.format{x[0:4],x[5:7],x[8:10]})
amzn['Date'] = amzn['Date'].map(gold_date)
amzn.drop(['Adj Close'],axis = 1,inplace = True)
amzn.to_csv("fix/AMZN.csv", mode='w',index = False)

In [7]:
# df = pd.concat([df,amzn],axis=1, join='inner')
df = pd.merge(df,amzn, how='outer',on='Date')

## NASDAQ 전처리

In [8]:
nasdaq['Date'] = nasdaq['Date'].map(slash_to_comma)
nasdaq.drop(['Open','High','Low','Volume','Adj Close'],axis = 1,inplace = True)
nasdaq.rename(columns = {'Close' : 'NASDAQ'}, inplace = True)
nasdaq.to_csv("fix/NASDAQ.csv", mode='w',index = False)
print(nasdaq['Date'])

0       2010/01/04
1       2010/01/05
2       2010/01/06
3       2010/01/07
4       2010/01/08
           ...
3012    2021/12/20
3013    2021/12/21
3014    2021/12/22
3015    2021/12/23
3016    2021/12/27
Name: Date, Length: 3017, dtype: object

In [9]:
df = pd.merge(df,nasdaq, how='outer',on='Date')

## NYSE 전처리

In [10]:
df

,Date,Open_x,High_x,Low_x,Close_x,Volume_x,Open_y,High_y,Low_y,Close_y,Adj Close,Volume_y
0,2010/07/01,108.900002,111.690002,106.699997,110.959999,8529800.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2010/07/02,110.919998,111.290001,108.559998,109.139999,4477100.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2010/07/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010/07/04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010/07/05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7210,2021-12-20,NaN,NaN,NaN,NaN,NaN,14933.000000,15007.299805,14860.040039,14980.940430,14980.940430,4.576750e+09
7211,2021-12-21,NaN,NaN,NaN,NaN,NaN,15140.429688,15349.059570,15015.030273,15341.089844,15341.089844,4.546230e+09
7212,2021-12-22,NaN,NaN,NaN,NaN,NaN,15319.160156,15525.969727,15303.059570,15521.889648,15521.889648,4.080900e+09
7213,2021-12-23,NaN,NaN,NaN,NaN,NaN,15544.790039,15697.980469,15528.910156,15653.370117,15653.370117,3.918200e+09
7214,2021-12-27,NaN,NaN,NaN,NaN,NaN,15696.830078,15871.400391,15696.830078,15871.259766,15871.259766,3.730120e+09

In [11]:
nyse['Date'] = nyse['Date'].map(slash_to_comma)
nyse.drop(['Open','High','Low','Volume','Adj Close'],axis = 1,inplace = True)
nyse.rename(columns = {'Close' : 'NYSE'}, inplace = True)
nyse.to_csv("fix/NYSE.csv", mode='w',index = False)

In [12]:
df = pd.merge(df,nyse, how='outer',on='Date')

In [13]:
df

,Date,Open_x,High_x,Low_x,Close_x,Volume_x,Open_y,High_y,Low_y,Close_y,Adj Close,Volume_y,NYSE
0,2010/07/01,108.900002,111.690002,106.699997,110.959999,8529800.0,NaN,NaN,NaN,NaN,NaN,NaN,6462.029785
1,2010/07/02,110.919998,111.290001,108.559998,109.139999,4477100.0,NaN,NaN,NaN,NaN,NaN,NaN,6434.810059
2,2010/07/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010/07/04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010/07/05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7334,2010/06/24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6730.240234
7335,2010/06/25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6763.930176
7336,2010/06/28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6736.600098
7337,2010/06/29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6520.089844
7338,2010/06/30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6469.649902

## S&P 500

In [14]:
# snp['Date'] = snp['Date'].map(slash_reorder)
snp.drop(['Open','High','Low','Volume'],axis = 1,inplace = True)
snp.rename(columns = {'Close/Last' : 'S&P 500'}, inplace = True)
snp.to_csv("fix/S&P500.csv", mode='w',index = False)

df = pd.merge(df,snp, how='outer',on='Date')

## FTSE 100

In [15]:
ftse['Date'] = ftse['Date'].map(slash_reorder_yr)
ftse.drop([' Open', ' High', ' Low'],axis = 1,inplace = True)
ftse.rename(columns = {' Close' : 'FTSE100'}, inplace = True)
ftse.to_csv("fix/FTSE.csv", mode='w',index = False)

df = pd.merge(df,ftse, how='outer',on='Date')

## BSE SENSEX (사용X)

In [16]:
# bse_sensex['Date'] = bse_sensex['Date'].map(slash_reorder_yr)
# bse_sensex.drop([' Open', ' High', ' Low'],axis = 1,inplace = True)
# bse_sensex.rename(columns = {' Close' : 'BSE SENSEX'}, inplace = True)
# bse_sensex.to_csv("fix/BSE_SENSEX.csv", mode='w',index = False)

# df = pd.merge(df,bse_sensex, how='outer',on='Date')

## RUSSELL2000

In [17]:
russell['Date'] = russell['Date'].map(slash_to_comma)
russell.drop(['Open', 'High', 'Low', 'Adj Close', 'Volume'],axis = 1,inplace = True)
russell.rename(columns = {'Close' : 'RUSSELL2000'}, inplace = True)
russell.to_csv("fix/RUSSELL2000.csv", mode='w',index = False)

df = pd.merge(df,russell, how='outer',on='Date')

## SSE

In [18]:
sse['Date'] = sse['Date'].map(slash_to_comma)
sse.drop(['Open', 'High', 'Low', 'Adj Close', 'Volume'],axis = 1,inplace = True)
sse.rename(columns = {'Close' : 'SSE'}, inplace = True)
sse.to_csv("fix/SSE.csv", mode='w',index = False)

df = pd.merge(df,sse, how='outer',on='Date')

## Crude Oil

In [19]:
oil['Date'] = oil['Date'].map(gold_date)
oil.rename(columns = {'DCOILWTICO' : 'Crude Oil'}, inplace = True)
oil.to_csv("fix/OIL.csv", mode='w',index = False)
df = pd.merge(df,oil, how='outer',on='Date')

In [20]:
gold

            Date  GOLDAMGBD228NLBM
0       2010.1.4           1113.00
1       2010.1.5           1125.25
2       2010.1.6           1125.00
3       2010.1.7           1130.75
4       2010.1.8           1121.75
...          ...               ...
3120  2021.12.20           1797.40
3121  2021.12.21           1795.85
3122  2021.12.22           1789.90
3123  2021.12.23           1805.55
3124  2021.12.24           1786.05

[3125 rows x 2 columns]

## Gold

In [21]:
gold['Date'] = gold['Date'].map(gold_date)
gold.rename(columns = {'GOLDAMGBD228NLBM' : 'Gold'}, inplace = True)
gold.to_csv("fix/GOLD.csv", mode='w',index = False)
df = pd.merge(df,gold, how='outer',on='Date')

## VIX

In [22]:
vix['Date'] = vix['Date'].map(slash_to_comma)
vix.drop(['Open', 'High', 'Low', 'Adj Close', 'Volume'],axis = 1,inplace = True)
vix.rename(columns = {'Close' : 'VIX'}, inplace = True)
vix.to_csv("fix/VIX.csv", mode='w',index = False)

df = pd.merge(df,vix, how='outer',on='Date')

## USD Index

In [23]:
usd['Date'] = usd['Date'].map(slash_to_comma)
usd.drop(['Open', 'High', 'Low', 'Adj Close', 'Volume'],axis = 1,inplace = True)
usd.rename(columns = {'Close' : 'USD index'}, inplace = True)
usd.to_csv("fix/USD.csv", mode='w',index = False)

df = pd.merge(df,usd, how='outer',on='Date')

## Apple

In [24]:
appl['Date'] = appl['Date'].map(slash_to_comma)
appl.drop(['Open', 'High', 'Low', 'Adj Close', 'Volume'],axis = 1,inplace = True)
appl.rename(columns = {'Close' : 'Apple'}, inplace = True)
appl.to_csv("fix/APPL.csv", mode='w',index = False)

df = pd.merge(df,appl, how='outer',on='Date')

## GOOGLE

In [25]:
google['Date'] = google['Date'].map(slash_to_comma)
google.drop(['Open', 'High', 'Low', 'Adj Close', 'Volume'],axis = 1,inplace = True)
google.rename(columns = {'Close' : 'Google'}, inplace = True)
google.to_csv("fix/GOOG.csv", mode='w',index = False)

df = pd.merge(df,google, how='outer',on='Date')

## MSFT

In [26]:
msft['Date'] = msft['Date'].map(slash_to_comma)
msft.drop(['Open', 'High', 'Low', 'Adj Close', 'Volume'],axis = 1,inplace = True)
msft.rename(columns = {'Close' : 'Microsoft'}, inplace = True)
msft.to_csv("fix/MSFT.csv", mode='w',index = False)

df = pd.merge(df,msft, how='outer',on='Date')

## Null값 제거

In [27]:
df = df[df['Open'].notna()]
df = df.fillna('#N/A')

KeyError: 'Open'

In [ ]:
df.to_csv('./preprocessed_data.csv',index = False)

In [29]:
df

,Date,Open_x,High_x,Low_x,Close_x,Volume_x,Open_y,High_y,Low_y,Close_y,...,FTSE100,RUSSELL2000,SSE,Crude Oil,Gold,VIX,USD index,Apple,Google,Microsoft
0,2010/07/01,108.900002,111.690002,106.699997,110.959999,8529800.0,NaN,NaN,NaN,NaN,...,4805.75,604.760010,2373.791992,72.95,1240.0,32.860001,84.720001,NaN,218.924423,23.16
1,2010/07/02,110.919998,111.290001,108.559998,109.139999,4477100.0,NaN,NaN,NaN,NaN,...,4838.09,598.969971,2382.900879,72.06,1210.5,30.120001,84.430000,NaN,217.459900,23.27
2,2010/07/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010/07/04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010/07/05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4823.53,NaN,2363.947998,NaN,1208.5,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10256,2021.12.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,169.750000,NaN,NaN
10257,2021.12.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,172.990005,NaN,NaN
10258,2021.12.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175.639999,NaN,NaN
10259,2021.12.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,176.279999,NaN,NaN
10260,2021.12.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180.330002,NaN,NaN

dataset.iloc[:, 1:] = pd.concat([dataset.iloc[:, 1:].ffill(), dataset.iloc[:, 1:].bfill()]).groupby(level=0).mean()

In [81]:
dataset = pd.read_csv('./Stock-price-prediction-using-GAN/Code/Finaldata_with_Fourier.csv')

In [82]:

dataset.iloc[:, 1:].ffill().columns # data 뺀거

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'NASDAQ', 'NYSE', 'S&P 500',
       'FTSE100', 'BSE SENSEX', 'RUSSELL2000', 'SSE', 'Crude Oil', 'Gold',
       'VIX', 'USD index', 'Apple', 'Google', 'Microsoft', 'MA7', 'MA21',
       'MACD', '20SD', 'upper_band', 'lower_band', 'EMA', 'logmomentum',
       'absolute of 3 comp', 'angle of 3 comp', 'absolute of 6 comp',
       'angle of 6 comp', 'absolute of 9 comp', 'angle of 9 comp'],
      dtype='object')

In [83]:
dataset.iloc[:, 1:].bfill().columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'NASDAQ', 'NYSE', 'S&P 500',
       'FTSE100', 'BSE SENSEX', 'RUSSELL2000', 'SSE', 'Crude Oil', 'Gold',
       'VIX', 'USD index', 'Apple', 'Google', 'Microsoft', 'MA7', 'MA21',
       'MACD', '20SD', 'upper_band', 'lower_band', 'EMA', 'logmomentum',
       'absolute of 3 comp', 'angle of 3 comp', 'absolute of 6 comp',
       'angle of 6 comp', 'absolute of 9 comp', 'angle of 9 comp'],
      dtype='object')

In [84]:
a = pd.concat([dataset.iloc[:, 1:].ffill(), dataset.iloc[:, 1:].bfill()])
a.columns
# a.to_csv('concatted.csv')

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'NASDAQ', 'NYSE', 'S&P 500',
       'FTSE100', 'BSE SENSEX', 'RUSSELL2000', 'SSE', 'Crude Oil', 'Gold',
       'VIX', 'USD index', 'Apple', 'Google', 'Microsoft', 'MA7', 'MA21',
       'MACD', '20SD', 'upper_band', 'lower_band', 'EMA', 'logmomentum',
       'absolute of 3 comp', 'angle of 3 comp', 'absolute of 6 comp',
       'angle of 6 comp', 'absolute of 9 comp', 'angle of 9 comp'],
      dtype='object')

In [85]:
m = pd.concat([dataset.iloc[:, 1:].ffill(), dataset.iloc[:, 1:].bfill()]).groupby(level=0).mean()
m.to_csv('mean.csv')
m.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'NASDAQ', 'NYSE', 'FTSE100',
       'BSE SENSEX', 'RUSSELL2000', 'SSE', 'Crude Oil', 'Gold', 'VIX',
       'USD index', 'Apple', 'Google', 'Microsoft', 'MA7', 'MA21', 'MACD',
       '20SD', 'upper_band', 'lower_band', 'EMA', 'logmomentum',
       'absolute of 3 comp', 'angle of 3 comp', 'absolute of 6 comp',
       'angle of 6 comp', 'absolute of 9 comp', 'angle of 9 comp'],
      dtype='object')

In [48]:
m.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'NASDAQ', 'NYSE', 'FTSE100',
       'BSE SENSEX', 'RUSSELL2000', 'SSE', 'Crude Oil', 'Gold', 'VIX',
       'USD index', 'Apple', 'Google', 'Microsoft', 'MA7', 'MA21', 'MACD',
       '20SD', 'upper_band', 'lower_band', 'EMA', 'logmomentum',
       'absolute of 3 comp', 'angle of 3 comp', 'absolute of 6 comp',
       'angle of 6 comp', 'absolute of 9 comp', 'angle of 9 comp'],
      dtype='object')

In [35]:
# dataset.iloc[:, 1:].columns

In [86]:
import pandas as pd
sp = pd.read_csv('S&P500_before.csv')

In [87]:

def sp_pre(x):
    if '/' in x:
        li = x.split('/')
#         print(li)
        x = li[2]+'/'+li[0].zfill(2)+'/'+li[1].zfill(2)
        return x
    else:
        li = x.split('.')
        x = li[0]+'/'+li[1].zfill(2)+'/'+li[2].zfill(2)
        return x

In [88]:
sp['Date'] = sp['Date'].map(sp_pre)

In [89]:
sp.to_csv('S&P500.csv',index = False)

In [50]:
import pandas as pd

In [51]:
dataset = pd.read_csv('../../run/Finaldata_with_Fourier.csv', parse_dates=['Date'])

In [52]:
dataset

,Date,Open,High,Low,Close,Volume,NASDAQ,NYSE,S&P 500,FTSE100,...,upper_band,lower_band,EMA,logmomentum,absolute of 3 comp,angle of 3 comp,absolute of 6 comp,angle of 6 comp,absolute of 9 comp,angle of 9 comp
0,2011-12-19,182.000000,183.169998,179.000000,179.330002,4533600,2523.139893,7142.450195,1205.349976,5364.99,...,201.451825,177.334841,179.979513,5.183636,1887.195100,-0.117106,1773.441010,-0.035068,1844.920543,-0.047563
1,2011-12-20,182.690002,183.169998,180.539993,182.520004,4600100,2603.729980,7360.970215,1241.300049,5419.60,...,201.097723,176.296563,181.673174,5.201366,1880.362306,-0.117668,1758.318228,-0.035409,1822.145141,-0.048260
2,2011-12-21,181.919998,183.500000,172.490005,174.350006,8066700,2577.969971,7388.520020,1243.719971,5389.74,...,201.797011,174.178227,176.791062,5.155313,1873.520814,-0.118229,1743.202331,-0.035749,1799.350687,-0.048950
3,2011-12-22,175.089996,179.669998,174.210007,179.029999,4694900,2599.449951,7460.750000,1254.000000,5456.97,...,201.686407,173.021213,178.283687,5.181952,1866.670782,-0.118787,1728.094451,-0.036086,1776.541160,-0.049633
4,2011-12-23,179.220001,179.679993,175.600006,177.279999,3496500,2618.639893,7518.660156,1265.329956,5512.70,...,201.667949,171.924432,177.614562,5.172074,1859.812370,-0.119344,1712.995716,-0.036421,1753.720549,-0.050309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2517,2021-12-20,3337.000000,3357.489990,3312.000000,3341.580078,2868600,14980.940430,16442.310550,4568.020000,7198.03,...,3626.227217,3327.484278,3361.005285,8.113900,1921.223050,-0.114266,1849.118524,-0.033329,1958.373191,-0.043998
2518,2021-12-21,3357.010010,3414.330078,3312.949951,3408.340088,2797800,15341.089840,16744.269530,4649.230000,7297.41,...,3606.901070,3321.264713,3392.561820,8.133687,1914.436122,-0.114838,1833.978328,-0.033680,1935.752384,-0.044721
2519,2021-12-22,3385.399902,3441.000000,3370.010010,3420.739990,2751800,15521.889650,16874.880860,4696.560000,7341.66,...,3588.499483,3325.206293,3411.347267,8.137320,1907.639705,-0.115407,1818.839341,-0.034030,1913.092786,-0.045439
2520,2021-12-23,3408.560059,3439.500000,3403.000000,3421.370117,1837500,15653.370120,16963.439450,4725.790000,7373.34,...,3566.357903,3332.236452,3418.029167,8.137504,1900.833957,-0.115975,1803.702702,-0.034378,1890.398321,-0.046153
2521,2021-12-27,3420.739990,3458.860107,3384.310059,3393.389893,2934400,15871.259770,17141.089840,4791.190000,7372.10,...,3555.636171,3325.146753,3401.602984,8.129290,1894.019036,-0.116542,1788.569546,-0.034724,1867.672923,-0.046861

In [53]:
news = pd.read_csv("../Code/News.csv", parse_dates=["Date"])

In [54]:
news

           Date     Score
0    2011-11-18  0.422875
1    2011-11-19  0.548850
2    2011-11-20  0.100000
3    2011-11-21 -0.325300
4    2011-11-22  0.100000
...         ...       ...
3644 2021-11-09  0.355160
3645 2021-11-10  0.208318
3646 2021-11-11  0.302594
3647 2021-11-12  0.242031
3648 2021-11-13  0.247312

[3649 rows x 2 columns]

In [55]:
dataset.set_index('Date', inplace=True)
news.set_index('Date', inplace=True)
dataset.join(news)

,Open,High,Low,Close,Volume,NASDAQ,NYSE,S&P 500,FTSE100,BSE SENSEX,...,lower_band,EMA,logmomentum,absolute of 3 comp,angle of 3 comp,absolute of 6 comp,angle of 6 comp,absolute of 9 comp,angle of 9 comp,Score
Date,,,,,,,,,,,,,,,,,,,,,
2011-12-19,182.000000,183.169998,179.000000,179.330002,4533600,2523.139893,7142.450195,1205.349976,5364.99,15379.34,...,177.334841,179.979513,5.183636,1887.195100,-0.117106,1773.441010,-0.035068,1844.920543,-0.047563,0.10000
2011-12-20,182.690002,183.169998,180.539993,182.520004,4600100,2603.729980,7360.970215,1241.300049,5419.60,15175.08,...,176.296563,181.673174,5.201366,1880.362306,-0.117668,1758.318228,-0.035409,1822.145141,-0.048260,0.10000
2011-12-21,181.919998,183.500000,172.490005,174.350006,8066700,2577.969971,7388.520020,1243.719971,5389.74,15685.21,...,174.178227,176.791062,5.155313,1873.520814,-0.118229,1743.202331,-0.035749,1799.350687,-0.048950,0.45100
2011-12-22,175.089996,179.669998,174.210007,179.029999,4694900,2599.449951,7460.750000,1254.000000,5456.97,15813.36,...,173.021213,178.283687,5.181952,1866.670782,-0.118787,1728.094451,-0.036086,1776.541160,-0.049633,0.10000
2011-12-23,179.220001,179.679993,175.600006,177.279999,3496500,2618.639893,7518.660156,1265.329956,5512.70,15738.70,...,171.924432,177.614562,5.172074,1859.812370,-0.119344,1712.995716,-0.036421,1753.720549,-0.050309,0.35515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-20,3337.000000,3357.489990,3312.000000,3341.580078,2868600,14980.940430,16442.310550,4568.020000,7198.03,55822.01,...,3327.484278,3361.005285,8.113900,1921.223050,-0.114266,1849.118524,-0.033329,1958.373191,-0.043998,NaN
2021-12-21,3357.010010,3414.330078,3312.949951,3408.340088,2797800,15341.089840,16744.269530,4649.230000,7297.41,56319.01,...,3321.264713,3392.561820,8.133687,1914.436122,-0.114838,1833.978328,-0.033680,1935.752384,-0.044721,NaN
2021-12-22,3385.399902,3441.000000,3370.010010,3420.739990,2751800,15521.889650,16874.880860,4696.560000,7341.66,56930.56,...,3325.206293,3411.347267,8.137320,1907.639705,-0.115407,1818.839341,-0.034030,1913.092786,-0.045439,NaN
2021-12-23,3408.560059,3439.500000,3403.000000,3421.370117,1837500,15653.370120,16963.439450,4725.790000,7373.34,57315.28,...,3332.236452,3418.029167,8.137504,1900.833957,-0.115975,1803.702702,-0.034378,1890.398321,-0.046153,NaN
2021-12-27,3420.739990,3458.860107,3384.310059,3393.389893,2934400,15871.259770,17141.089840,4791.190000,7372.10,57420.24,...,3325.146753,3401.602984,8.129290,1894.019036,-0.116542,1788.569546,-0.034724,1867.672923,-0.046861,NaN

In [56]:
dataset = dataset.join(news)

In [57]:
dataset.reset_index()

,Date,Open,High,Low,Close,Volume,NASDAQ,NYSE,S&P 500,FTSE100,...,lower_band,EMA,logmomentum,absolute of 3 comp,angle of 3 comp,absolute of 6 comp,angle of 6 comp,absolute of 9 comp,angle of 9 comp,Score
0,2011-12-19,182.000000,183.169998,179.000000,179.330002,4533600,2523.139893,7142.450195,1205.349976,5364.99,...,177.334841,179.979513,5.183636,1887.195100,-0.117106,1773.441010,-0.035068,1844.920543,-0.047563,0.10000
1,2011-12-20,182.690002,183.169998,180.539993,182.520004,4600100,2603.729980,7360.970215,1241.300049,5419.60,...,176.296563,181.673174,5.201366,1880.362306,-0.117668,1758.318228,-0.035409,1822.145141,-0.048260,0.10000
2,2011-12-21,181.919998,183.500000,172.490005,174.350006,8066700,2577.969971,7388.520020,1243.719971,5389.74,...,174.178227,176.791062,5.155313,1873.520814,-0.118229,1743.202331,-0.035749,1799.350687,-0.048950,0.45100
3,2011-12-22,175.089996,179.669998,174.210007,179.029999,4694900,2599.449951,7460.750000,1254.000000,5456.97,...,173.021213,178.283687,5.181952,1866.670782,-0.118787,1728.094451,-0.036086,1776.541160,-0.049633,0.10000
4,2011-12-23,179.220001,179.679993,175.600006,177.279999,3496500,2618.639893,7518.660156,1265.329956,5512.70,...,171.924432,177.614562,5.172074,1859.812370,-0.119344,1712.995716,-0.036421,1753.720549,-0.050309,0.35515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2517,2021-12-20,3337.000000,3357.489990,3312.000000,3341.580078,2868600,14980.940430,16442.310550,4568.020000,7198.03,...,3327.484278,3361.005285,8.113900,1921.223050,-0.114266,1849.118524,-0.033329,1958.373191,-0.043998,NaN
2518,2021-12-21,3357.010010,3414.330078,3312.949951,3408.340088,2797800,15341.089840,16744.269530,4649.230000,7297.41,...,3321.264713,3392.561820,8.133687,1914.436122,-0.114838,1833.978328,-0.033680,1935.752384,-0.044721,NaN
2519,2021-12-22,3385.399902,3441.000000,3370.010010,3420.739990,2751800,15521.889650,16874.880860,4696.560000,7341.66,...,3325.206293,3411.347267,8.137320,1907.639705,-0.115407,1818.839341,-0.034030,1913.092786,-0.045439,NaN
2520,2021-12-23,3408.560059,3439.500000,3403.000000,3421.370117,1837500,15653.370120,16963.439450,4725.790000,7373.34,...,3332.236452,3418.029167,8.137504,1900.833957,-0.115975,1803.702702,-0.034378,1890.398321,-0.046153,NaN
2521,2021-12-27,3420.739990,3458.860107,3384.310059,3393.389893,2934400,15871.259770,17141.089840,4791.190000,7372.10,...,3325.146753,3401.602984,8.129290,1894.019036,-0.116542,1788.569546,-0.034724,1867.672923,-0.046861,NaN

In [58]:
dataset["Score"].fillna(0.1)

Date
2011-12-19    0.10000
2011-12-20    0.10000
2011-12-21    0.45100
2011-12-22    0.10000
2011-12-23    0.35515
               ...
2021-12-20    0.10000
2021-12-21    0.10000
2021-12-22    0.10000
2021-12-23    0.10000
2021-12-27    0.10000
Name: Score, Length: 2522, dtype: float64